
h1 {
    color: skyblue;
    background-color: black;
}

figure {
        position:  relative;
        width: 576px;
        height: 365px;
        margin-bottom: 50px; /* spacing between images */
}

.badge {
    bottom: 5px;
    right: 5px;
    position: absolute;
}

.badge img {
    width: 110px;
    height: 90px;
    margin-bottom: 2px;

}

.batman-badge img {
    width: 140px;
}

figcaption {
   background-color: rgba(0, 0, 0, 0.5);  /* semi-transparent black */
    color: white;
    font-size: 24px;
    height: 24px;      /* Set to the height of the text */
    overflow: hidden;   /* Prevents text overflow */
    width: 100%;        /* Full width of the image */
    position: absolute; /* Absolute positioning to overlap on image */
    bottom: -24px;      /* Start below the image */
    text-align: left; /* Center the text */
}
