
h1 {
    color: skyblue;
    background-color: black;
}

figure {
        position: relative;
        width: 576px;
        height: 365px;
        margin-bottom: 50px; /* spacing between images */
}

.badge {
    bottom: 5px;
    right: 5px;
    position: absolute;
}

.badge img {
    width: 110px;
    height: 90px;
    margin-bottom: 2px;

}

.batman-badge img {
    width: 140px;
}