
h1 {
    color: skyblue;
    background-color: black;
}

body {
    background: linear-gradient(to bottom, black, #0077b6);
    font-family: Comic Sans MS, sans-serif; /* Default font for the body */
    margin: 10;
    padding: 10;
}

figure {
        position:  relative;
        width: 576px;
        height: 365px;
        margin: 0 auto 50px; /* spacing between images */
        overflow: hidden; 
}

.badge {
    bottom: 5px;
    right: 5px;
    position: absolute; 
    z-index: 20; 
}

.badge img {
    width: 110px;
    height: 90px;
    margin-bottom: 2px;
   

}

.batman-badge img {
    width: 140px;
}

figcaption {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);  /* semi-transparent black */
    color: white;
    font-size: 24px;
    height: 35px;      /* Set to the height of the text */
    width: 100%;        /* Full width of the image */
    position: absolute; /* Absolute positioning to overlap on image */
    bottom: -35px;      /* Start below the image */
    text-align: left; /* Center the text */
    z-index: 10; /* Higher than the image, lower than the badge */
    overflow: hidden; /* hide the text */
}
